<div align=center>
<br><br>
<table border=1>
<tr>
<td><%= @holiday.name %></td>
<td><%= @holiday.date %></td>
<td><%= link_to "Edit", edit_holiday_path(@holiday) %></td>
<td><%= link_to "Destroy", holiday_path(@holiday),
                  method: :delete, data: { confirm: "Are you sure?" } %></td>                  
</tr>
</table>
</div>
