<%= form_with(model: leave_request_type, url: url, method: method)  do |form| %>

  <div>
  <%=form.label :leaverequest_type %><br>
  <%=form.text_field :leaverequest_type %>
  </div>
  
  <div>
  <%= form.submit %>
  </div>
  
  <% end %>
  
  
  