# frozen_string_literal: true

# This page for EditLeaveRequestType 
<h1>EditLeaveRequestType</h1>
<%= render "form", leave_request_type: @leave_request_type, url: leaves_request_type_path(@leave_request_type), method: :put %>
